/* BLOG POST BLOCK */
/*
<main class="has-title width-max">
  <figure>
    <img src="" alt="">
    <figcaption class="wysiwyg">
      *** WISYWIG
    </figcaption>
  </figure>
</main>
*/
.blog-post-block {
  h2 {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
  }
  hr {
    
    width: 5%;
    border-top: 2px solid $color-nax;
   }

  main {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 25px;
      grid-row-gap: 25px;
    > .subtitle2 {
      font-size: 1.1em;
    }
    > .abstract {
      font-size: 1em;
    }
    img {
      max-width: 100%;      
      height: auto;
    }
    .share-buttons {
      > * {
        display: inline-flex;
      }
    }
  }
}
