/* BLOCKS */
@import "hero-block.scss";
@import "icon-text-list-block.scss";
@import "content-background-icon-block.scss";
@import "image-block.scss";
@import "icon-bullet-list-block.scss";
@import "bullet-list-block.scss";
@import "text-media-block.scss";
@import "contact-form-block.scss";
@import "newsletter-block.scss";
@import "grid-block.scss";
@import "text-list-block.scss";
@import "expander-list-block.scss";
@import "blog-list-block.scss";
@import "blog-post-block.scss";
@import "text-block.scss";

.block.desktop {
  &.width-max {
    header > * {
      max-width: pix($width-desktop-max);
    }
  }
  &.width-medium {
    header > * {
      max-width: pix($width-desktop-medium);
    }
  }
  &.width-min {
    header > * {
      max-width: pix($width-desktop-min);
    }
  }
  > main {
    margin: auto;
    padding: pix($block-padding * 2);
    padding-bottom: 2rem;
    padding-top: 2rem;
    // &.background-none {
    //   padding: pix($block-padding * 2) 0;
    // }
    &.width-max {
      width: pix($width-desktop-max);
    }
    &.width-medium {
      width: pix($width-desktop-medium);
    }
    &.width-min {
      width: pix($width-desktop-min);
    }
  }
}
.block.mobile {
  &.width-max,
  &.width-medium,
  &.width-min {
    h2,
    .subtitle2,
    .abstract {
      width: 100%;
      padding: 0 1em;
    }
  }
  > main {
    margin: auto;
    padding: 1em;
    // &.background-none {
    //   padding: 1em 0.5em;
    // }
    &.width-max,
    &.width-medium,
    &.width-min {
      width: 100%;
    }
  }

  video {
    &.middle {
      top: 50% !important;
    }
  }
}

.block {
  position: relative;
  margin: auto;

  header {
    display: flex;
    flex-direction: column;
    & > * {
      align-self: center;
    }
  }

  .block-background {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -10;
    background-repeat: no-repeat;
    video {
      max-width: unset;
      position: absolute;
      z-index: -1;
      object-fit: cover;
      left: 0;
      pointer-events: none;
      &.top {
        top: 0;
      }
      &.middle {
        top: 20%;
        transform: translateY(-50%);
        height: 100%;
      }
      &.bottom {
        bottom: 0;
      }
      &.left {
        left: 0;
      }
      &.center {
        left: 50%;
        transform: translateX(-50%);
      }
      &.right {
        right: 0;
      }
      &.fit-width {
        left: 0;
        width: 100%;
      }
      &.fit-height {
        top: 0;
        height: 100%;
      }
    }
    div {
      width: 100%;
      height: 100%;
    }
  }
  &.has-title {
    > header {
      padding-top: pix($block-padding * 2);
      // padding-bottom: pix($block-padding);
      h1,
      h2 {
        margin-bottom: pix($base-spacing);
      }
    }
  }
  &.has-subtitle {
    > header {
      .subtitle2 {
        margin-bottom: pix($base-spacing);
      }
    }
  }

  > main {
    &.has-title,
    &.has-subtitle,
    &.has-abstract {
      padding-top: 0;
    }

    .wysiwyg {
      text-align: left;
      img{
        max-width: 100%;
        height: auto;
      }
    }
  }

  &.has-bottom-link {
    > footer {
      &.has-content {
        padding-bottom: pix($block-padding * 2);
      }
    }
  }
}
